       <div id="footer">
         <div class="row">
             <br>
               <div class="col-md-4">
                 <center>
                   <img src="../assets/images/customer.jpg" class="img-circle" alt="the-brains">
                   <br>
                   <h4 class="footertext">Customer Care</h4>
                   <p class="footertext"><a href="#">9554864875</a><br>
                   <p class="footertext"><a href="#">9032418353</a><br>
                 </center>
               </div>
             <div class="col-md-4">
                 <center>
                   <img src="../assets/images/about.jpg" class="img-circle" alt="...">
                   <br>
                   <h4 class="footertext">About Us</h4>
                   <p class="footertext">Mera Film Is The Largest And The Most Premium Film Entertainment Company In India.<br>
                 </center>
               </div>
               <div class="col-md-4">
                 <center>
                   <img src="../assets/images/cinemas.jpg" class="img-circle" alt="...">
                   <br>
                   <h4 class="footertext">Follow Us</h4>
                   <p class="footertext"><a href="#Facebook">Facebook</a><br>
                   <p class="footertext"><a href="#Twitter">Twitter</a><br>
                 </center>
               </div>
             </div>
             <div class="row">
             <p><center><p><b><a href="#">NAMAN JAIN</a></b></p> <p class="footertext">Copyright © 2017.  All rights reserved.</p></center></p>
         </div>
       </div>
