<div class="container">
  <form class="movi well" id="myForm">
<legend>Search Movie</legend>
<label for="Name">Name :</label>
<input type="text" ng-model="moviesCtrl.MovieName" placeholder="Name">
<label for="Year">Year :</label>
<input type="text" ng-model="moviesCtrl.MovieYear" placeholder="Year">
<br><br>
       <button class="btn btn-primary" type="submit" ng-click="moviesCtrl.SearchMovie()" value="Reset form">
        Search <i class="glyphicon glyphicon-search"></i>
       </button>
   </form>
<br>
     <table class="table" id="table" ng-show="moviesCtrl.MovieYear">
       <thead>
         <tr>
           <th>Poster</th>
           <th>Movie</th>
           <th>Year</th>
           <th>Actors</th>
           <th>Duration</th>
           <th>Genre</th>
           <th>Ratings</th>
           <th>Plot</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td><img src="{{moviesCtrl.MovieDetails.cov}}" width="200px" height="300px"></td>
           <td>{{moviesCtrl.MovieDetails.title}}</td>
            <td>{{moviesCtrl.MovieDetails.year}}</td>
           <td>{{moviesCtrl.MovieDetails.cast}}</td>
           <td>{{moviesCtrl.MovieDetails.dur}}</td>
           <td>{{moviesCtrl.MovieDetails.gen}}</td>
           <td>{{moviesCtrl.MovieDetails.rate}}</td>
           <td>{{moviesCtrl.MovieDetails.plot}}</td>
         </tr>
       </tbody>
     </table>
     <br><br>
     <button class="btn btn-success btn1" type="submit" ng-click="moviesCtrl.addMovie()">
      Add Movie <i class="glyphicon glyphicon-plus"></i>
    </button>
      <br><br>
            <span id="admov"><h3>ADDED MOVIES</h3></span>
            <br><br>
            <table class="table">
              <thead>
                <tr>
                  <th>Movie</th>
                  <th>Year</th>
                  <th>Actors</th>
                  <th>Duration</th>
                  <th>Genre</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in moviesCtrl.MovieData">
                  <td>{{x.Title}}</td>
                  <td>{{x.Year}}</td>
                  <td>{{x.Cast}}</td>
                  <td>{{x.Duration}}</td>
                  <td>{{x.Genre}}</td>
                  <td><button class="btn btn-danger" ng-click="moviesCtrl.removeMovie(x)"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
              </tbody>
            </table>
      <br><br>
</div>
